/********** LEFT SIDE **********/
.leftSide{
  padding: 250px 5% 100% 5%;
  background-color: rgb(189, 19, 36);
}
.imgOfMe{
  width: 160px;
  height: 160px;

}





/********** RIGHT SIDE ***********/
.rightSide{
  padding-top: 250px;
}
.myInfo{
  padding: 0px 30px 170px 50px
}
.education, .skills, .interest{
  padding: 200px 30px 300px 50px
}

/* EDUCATION */
/* SKILLS */
/* RESEARCH EXPERIENCE */
.experience{
  padding: 30px 10px 30px 50px
}
.centerText{
  padding-top: 50px
}
/* PROJECTS AND HACKATHONS */
.pAH{
  padding: 30px 10px 30px 50px 
}
/* INTEREST */
